<div id="home" class="my-7 pb-6">
                    <h1 class="text-white text-7xl max-md:text-5xl">Hi there!,<br> I'm <span class="text-primary font-semibold">Marco</span><br> Fullstack Developer</h1>
                <p class="my-6">
                    A <strong class="text-white font-semibold">responsible</strong> and <strong class="text-white font-semibold">dedicated professional</strong> 
                    who always strives to deliver <strong class="text-white font-semibold">high-quality results</strong>. Passionate about learning and applying new technologies.
                </p>
                <p class="my-6">
                    With <strong class="text-white font-semibold">over 10 years</strong> of experience working across different tech stacks, 
                    I’ve learned that true development <strong class="text-white font-semibold">isn’t just about writing good code</strong> — 
                    it’s about <strong class="text-white font-semibold">understanding</strong> the product, its <strong class="text-white font-semibold">goals</strong>, 
                    and the <strong class="text-white font-semibold">vision</strong> it aims to achieve.
                </p>
                </div>
[section]skills[/section]
<div class="spacing w-full h-10 md:h-20"></div>
[section]portafolio[/section]
<div class="spacing w-full h-10 md:h-20"></div>
[section]experience[/section]