<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" rel="stylesheet">
    <title>My First Parcel App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">

  </head>
  <body class="bg-zinc-900 font-light font-Inter">
    <main class="w-full max-w-[1700px] mx-auto">
        <div id="avatar-container" class="w-full flex align-middle justify-center h-full overflow-y-auto max-md:mt-4 md:fixed md:left-0 md:top-1/2 md:w-1/3 md:-translate-y-1/2 md:px-2" >
            <div class="rounded-3xl border-zinc-700 border p-8 max-w-96 m-auto max-md:mx-4">
                <h2 class="text-3xl md:text-2xl lg:text-3xl text-white mb-4">Marco Antonio Aguilar Gomez</h2>
                <h2 class="text-xl text-end text-white">Fullstack Developer</h2>
                <img src="./img/avatar-portafolio.jpg" class="rounded-3xl max-h-[calc(100vh-470px)] m-auto min-h-40" alt="Marco Antonio Aguilar">
                <div class="p-4">
                    <p class="text-white mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile float-start  mr-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
                        <path d="M11 4h2" />
                        <path d="M12 17v.01" />
                        </svg>
                        (+591) 70733141
                    </p>
                    <p class="text-white mt-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail float-start  mr-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                            <path d="M3 7l9 6l9 -6" />
                        </svg>
                        keiro3@gmail.com
                    </p>
                    <p class="flex justify-center gap-2 mt-3 ">
                        <a href="https://www.linkedin.com/in/marco-antonio-aguilar-gomez-0b614886/" class="group border-2 border-zinc-700 hover:border-primary rounded-full p-2 block w-fit" target="_blank" alt="LinkedIn" title="LinkedIn">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin stroke-white group-hover:stroke-primary" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                                <path d="M8 11l0 5" />
                                <path d="M8 8l0 .01" />
                                <path d="M12 16l0 -5" />
                                <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                              </svg>
                        </a>
                        <a href="https://www.facebook.com/milord.marco" class="group border-2 border-zinc-700 hover:border-primary rounded-full p-2 block w-fit" target="_blank" alt="Facebook" title="Facebook">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook stroke-white group-hover:stroke-primary" width="28" height="28" viewBox="0 0 24 24" stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                            </svg>
                        </a>
                    </p>
                    <p>
                        <a href="mailto:keiro3@gmail.com" class="bg-primary rounded-full p-3 w-full block text-black font-semibold text-center mt-4">
                            CONTACT ME!
                        </a>
                    </p>
                    <p class="text-white text-center mt-4">
                        From Bolivia
                    </p>  
                </div>
                

            </div>
        </div>
        <div class="flex place-content-end md:mt-16 pt-4 text-zinc-400 ">
            <div class="w-full md:w-2/3 md:pr-16 px-4">
                <div class="my-7 pb-6">
                    <h1 class="text-white text-7xl max-md:text-5xl">Hi there!,<br> I'm <span class="text-primary font-semibold">Marco</span><br> Fullstack Developer</h1>
                <p class="my-6">I'm <strong class="text-white font-semibold">responsible person</strong> with my projects and always seeking to deliver a high quality product.<br> 
                    <strong class="text-white font-semibold">Passionate</strong> about learning new technologies. <br>
                    With <strong class="text-white font-semibold">+10 years</strong> of experience working with various technologies</p>
                </div>

                <div class="my-10">
                    <h2 class="text-5xl max-md:text-4xl text-white mb-8">Highlights <span class="text-primary">Skills</span></h2>
                    <h3 class="text-white text-2xl my-2">Programming Language</h3>
                    <div class="flex flex-wrap my-6">
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-javascript md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
                                    <path d="M7.5 8h3v8l-2 -1" />
                                    <path d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5" />
                                  </svg>
                                JavaScript<br>
                                <div class="text-primary text-lg">7 years</div>
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-php md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 12m-10 0a10 9 0 1 0 20 0a10 9 0 1 0 -20 0" />
                                    <path d="M5.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653" />
                                    <path d="M15.5 15l.395 -1.974l.605 -3.026h1.32a1 1 0 0 1 .986 1.164l-.167 1a1 1 0 0 1 -.986 .836h-1.653" />
                                    <path d="M12 7.5l-1 5.5" />
                                    <path d="M11.6 10h2.4l-.5 3" />
                                  </svg>
                                PHP<br>
                                <div class="text-primary text-lg">7 years</div>
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-typescript md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M15 17.5c.32 .32 .754 .5 1.207 .5h.543c.69 0 1.25 -.56 1.25 -1.25v-.25a1.5 1.5 0 0 0 -1.5 -1.5a1.5 1.5 0 0 1 -1.5 -1.5v-.25c0 -.69 .56 -1.25 1.25 -1.25h.543c.453 0 .887 .18 1.207 .5" />
                                    <path d="M9 12h4" />
                                    <path d="M11 12v6" />
                                    <path d="M21 19v-14a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2 -2z" />
                                  </svg>
                                TypeScript<br>
                                <div class="text-primary text-lg">1 year</div>
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coffee md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1" />
                                    <path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2" />
                                    <path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2" />
                                    <path d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z" />
                                    <path d="M16.746 16.726a3 3 0 1 0 .252 -5.555" />
                                  </svg>
                                Java<br>
                                <div class="text-primary text-lg">1 year</div>
                            </div>
                        </div>
                        
                    </div>

                    <h3 class="text-white text-2xl my-2">Frameworks and Libraries</h3>
                    <div class="flex flex-wrap my-6">
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-angular md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M5.428 17.245l6.076 3.471a1 1 0 0 0 .992 0l6.076 -3.471a1 1 0 0 0 .495 -.734l1.323 -9.704a1 1 0 0 0 -.658 -1.078l-7.4 -2.612a1 1 0 0 0 -.665 0l-7.399 2.613a1 1 0 0 0 -.658 1.078l1.323 9.704a1 1 0 0 0 .495 .734z" />
                                    <path d="M9 15l3 -8l3 8" />
                                    <path d="M10 13h4" />
                                  </svg>
                                Angular<br>
                                  <div class="text-primary text-lg">4 years</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-flame md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 12c2 -2.96 0 -7 -1 -8c0 3.038 -1.773 4.741 -3 6c-1.226 1.26 -2 3.24 -2 5a6 6 0 1 0 12 0c0 -1.532 -1.056 -3.94 -2 -5c-1.786 3 -2.791 3 -4 2z" />
                                  </svg>
                                CodeIgniter<br>
                                  <div class="text-primary text-lg">5 years</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-nodejs md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 9v8.044a2 2 0 0 1 -2.996 1.734l-1.568 -.9a3 3 0 0 1 -1.436 -2.561v-6.635a3 3 0 0 1 1.436 -2.56l6 -3.667a3 3 0 0 1 3.128 0l6 3.667a3 3 0 0 1 1.436 2.561v6.634a3 3 0 0 1 -1.436 2.56l-6 3.667a3 3 0 0 1 -3.128 0" />
                                    <path d="M17 9h-3.5a1.5 1.5 0 0 0 0 3h2a1.5 1.5 0 0 1 0 3h-3.5" />
                                  </svg>
                                NodeJs<br>
                                  <div class="text-primary text-lg">1 year</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-vue md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M16.5 4l-4.5 8l-4.5 -8" />
                                    <path d="M3 4l9 16l9 -16" />
                                  </svg>
                                VueJs<br>
                                  <div class="text-primary text-lg">1 year</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-bootstrap md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M2 12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2" />
                                    <path d="M2 12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2" />
                                    <path d="M9 16v-8h3.5a2 2 0 1 1 0 4h-3.5h4a2 2 0 1 1 0 4h-4z" />
                                  </svg>
                                Boostrap<br>
                                  <div class="text-primary text-lg">5 years</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-letter-j-small md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10 8h4v6a2 2 0 1 1 -4 0" />
                                  </svg>
                                JQuery<br>
                                  <div class="text-primary text-lg">5 years</div>  
                            </div>
                        </div>
                    </div>

                    <h3 class="text-white text-2xl my-2">CMS Platform</h3>
                    <div class="flex flex-wrap my-6">
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-wordpress md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9.5 9h3" />
                                    <path d="M4 9h2.5" />
                                    <path d="M11 9l3 11l4 -9" />
                                    <path d="M5.5 9l3.5 11l3 -7" />
                                    <path d="M18 11c.177 -.528 1 -1.364 1 -2.5c0 -1.78 -.776 -2.5 -1.875 -2.5c-.898 0 -1.125 .812 -1.125 1.429c0 1.83 2 2.058 2 3.571z" />
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                                  </svg>
                                WordPress<br>
                                  <div class="text-primary text-lg">5 years</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-drupal md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12 2c0 4.308 -7 6 -7 12a7 7 0 0 0 14 0c0 -6 -7 -7.697 -7 -12z" />
                                    <path d="M12 11.33a65.753 65.753 0 0 1 -2.012 2.023c-1 .957 -1.988 1.967 -1.988 3.647c0 2.17 1.79 4 4 4s4 -1.827 4 -4c0 -1.676 -.989 -2.685 -1.983 -3.642c-.42 -.404 -2.259 -2.357 -5.517 -5.858l3.5 3.83z" />
                                  </svg>
                                Drupal<br>
                                  <div class="text-primary text-lg">1 year</div>  
                            </div>
                        </div>
                    </div>

                    <h3 class="text-white text-2xl my-2">Other tools</h3>
                    <div class="flex flex-wrap my-6">
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-adobe md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12.893 4.514l7.977 14a.993 .993 0 0 1 -.394 1.365a1.04 1.04 0 0 1 -.5 .127h-3.476l-4.5 -8l-2.5 4h1.5l2 4h-8.977c-.565 0 -1.023 -.45 -1.023 -1c0 -.171 .045 -.34 .13 -.49l7.977 -13.993a1.034 1.034 0 0 1 1.786 0z" />
                                  </svg>
                                Adobe Photoshop<br>
                                  <div class="text-primary text-lg">4 years</div>  
                            </div>
                        </div>
                        <div class="max-md:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 p-1">
                            <div class="block rounded-3xl bg-zinc-800 border-2 border-zinc-800 text-white p-2 md:p-4 hover:border-primary hover:border-2 m-1 max-md:text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-adobe md:float-left m-auto md:mr-2" width="60" height="60" viewBox="0 0 24 24" stroke-width="0.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M12.893 4.514l7.977 14a.993 .993 0 0 1 -.394 1.365a1.04 1.04 0 0 1 -.5 .127h-3.476l-4.5 -8l-2.5 4h1.5l2 4h-8.977c-.565 0 -1.023 -.45 -1.023 -1c0 -.171 .045 -.34 .13 -.49l7.977 -13.993a1.034 1.034 0 0 1 1.786 0z" />
                                  </svg>
                                Adobe Illustrator<br>
                                  <div class="text-primary text-lg">1 year</div>  
                            </div>
                        </div>
                    </div>

                    <h3 class="text-white text-2xl my-2">Important Knowledge</h3>
                    <div class="flex flex-wrap my-6 line-">
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">Object-oriented programming</span>
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">MVC Architecture software</span>
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">UI / UX designer</span>
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">Database Modeling, SQL</span>
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">HTML, CSS</span>
                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2">Responsive design</span>
                    </div>
                </div>
                
                <div class="my-10 pt-8">
                    <h2 class="text-5xl max-md:text-4xl text-white mb-8">Featured <span class="text-primary">Projects</span></h2>
                    <div class="flex flex-wrap ">
                        <div class="w-full">
                            <div class="group rounded-3xl relative border border-zinc-700">
                                <div class="relative">
                                    <img src="./img/handyman-project.jpg" class="w-full opacity-65 group-hover:opacity-90 rounded-3xl ease-in-out duration-300" alt="Project 1">
                                    <div class="absolute bg-gradient-to-t from-zinc-900 from-10% w-full h-full left-0 top-0"></div>
                                </div>
                                <div class="flex flex-wrap relative w-full p-4 text-white text-sm rounded-b-3xl -mt-24 md:-mt-32">
                                    <h3 class="text-white text-4xl my-2 w-full md:w-1/2">Handyman</h3>
                                    <div class="flex justify-end w-full md:w-1/2 gap-2">
                                        <a href="https://handyman.com.bo" title="Handyman Website" class="rounded-full p-2 border border-white hover:border-primary block w-fit h-fit" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link hover:stroke-primary" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" />
                                                <path d="M11 13l9 -9" />
                                                <path d="M15 4h5v5" />
                                              </svg>
                                        </a>
                                        <a href="https://tuportafolio.handyman.com.bo/" title="Dashboard Handyman Expert" class="rounded-full p-2 border border-white hover:border-primary block w-fit h-fit" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings hover:stroke-primary" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                                                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                                              </svg>
                                        </a>
                                        <a href="https://play.google.com/store/apps/details?id=bo.com.handyman.tuportafolio.app" title="HandyMan Portafolio App" class="rounded-full p-2 border border-white hover:border-primary block w-fit h-fit" target="_blank">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-android hover:stroke-primary" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M4 10l0 6" />
                                                <path d="M20 10l0 6" />
                                                <path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0" />
                                                <path d="M8 3l1 2" />
                                                <path d="M16 3l-1 2" />
                                                <path d="M9 18l0 3" />
                                                <path d="M15 18l0 3" />
                                              </svg>
                                        </a>
                                    </div>
                                    <div class="flex flex-wrap w-full">
                                        <h4 class="w-full my-1">Technologies:</h4>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Angular</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">CodeIgniter</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">JavaScript</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">PHP</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Capacitor</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">MySql</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Firebase</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Boostrap</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">HTML, CSS</span>
                                        <h4 class="w-full my-1">Architecture, patterns and best practices:</h4>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">MVC Architecture software</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Object-oriented programming</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">S.O.L.I.D.</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">UI / UX desig</span>
                                        <span class="block rounded-full py-1 px-4 border-zinc-700 border mb-2 w-fit">Database Modeling, SQL</span>
                                    </div>

                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </main>
    
  </body>
</html>